#container1 {
    display: inline-block;
    width:160px;
    height:160px;
    border: 1px solid red;
}
#container2 {
    display: inline-block;
    width:160px;
    height:160px;
    border: 1px solid red;
}
#container3 {
    display: inline-block;
    width:160px;
    height:160px;
    border: 1px solid green;
}